
#Home {
    width: 100vw;
    height: 100vh;
    background-image: url(/Image\ -\ EXPORTAR.png);
    background-color: #FEF4DE;
}
.meio{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#cima{
    height: 12vh;
    width:98.5vw;
    background: #7C4032;
    padding:10px;
    clip-path: polygon(50% 0%, 100% 80%, 100% 0%);  
}
#baixo{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #7C4032;
    width:98.5vw;
    height: 27vh;
    clip-path: polygon(0% 100%, 100% 100%, 0% 15%);
   }


.inicio{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10vh;
}

.tituloo {
    font-family: 'Poppins', sans-serif;
    color: #663128;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botaoooo{
    display: flex;
    justify-content: flex-start; 
    align-items: center;   
    margin-left: 4vh;
    gap: 7vh;
}
.botaoooo button{
    font-family: 'poppins', sans-serif;
    color: #663128;
    font-weight: 600;
    font-size: 17px;
    background: #F3CE5E;
    border-radius: 5vh;
    border: 1vh solid #F3CE5E;  
}
.botaoooo p{
    font-family: 'poppins', sans-serif;
    color: #663128;
    font-weight: 600;
    font-size: 17px;
}
.tituloo h1{
    font-size: 80px;
    line-height: 60px;
    font-weight: 900;
}
.tituloo h2{
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2.8vh;
    margin-left: 1vw;
}

.tituloo p{
   font-weight: 600;
   font-size: 12px;
   line-height: 3.5vh;
}

.desenho img{
    width: 60vh;
    height: 60vh;
}
footer{
    background: #7C4032;
    width: auto;
    height: 60px;
}