
*{
    margin: 0px;
}
#Testemunhos{
    width: 100;
    height: 100vh;
    display: flex;
    background-color:#FEF4DE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.quadros{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100vh;
}
#Testemunhos h1{
    margin-bottom: 40px;
}
.testemunho-conteudo{
    margin: 10px;
    width: 60vh;
    height: 20vh;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: solid #7C4032 1px;
}